@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prueba Tecnica Compresion de Cadenas.NET</h1>
    <p class="lead">
        Utilizando C#, implemente un método que ejecute una "compresión" básica de una cadena, utilizando el conteo de caracteres repetidos.
        Por ejemplo, la cadena: "aabcccccaaa", se debe convertir en "a2b1c5a3".
        Si la cadena "comprimida" no es más pequeña que la cadena original, el método debe devolver la cadena original.
    </p>
    <p><a href="http://alexandergiraldo.net" class="btn btn-primary btn-lg">Mi Sitio Web</a></p>
</div>

